@charset "UTF-8";
/* 
    Created on : 2015-08-21, 20:07:25
    Author     : ┼üukasz Mitura
*/
.AMUSubtitlesPlayer {
  display: inline-block;
  width: auto;
  position: relative;
  font-family: "Arial", "Helvetica", "Tahoma", sans-serif;
  line-height: 0;
  padding: 0;
}
.AMUSubtitlesPlayer.AMUSubtitlesPlayer-fullscreen {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.AMUSubtitlesPlayer.AMUSubtitlesPlayer-fullscreen .AMUSubtitlesPlayer-video {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.AMUSubtitlesPlayer.AMUSubtitlesPlayer-fullscreen .AMUSubtitlesPlayer-subtitles {
  font-size: 3vh;
  bottom: 6vh;
}
.AMUSubtitlesPlayer.AMUSubtitlesPlayer-fullscreen .AMUSubtitlesPlayer-controls {
  padding: 1vh;
  height: auto;
  max-height: 100%;
}
.AMUSubtitlesPlayer.AMUSubtitlesPlayer-fullscreen .AMUSubtitlesPlayer-controls button {
  width: 4vh;
  height: 4vh;
  font-size: 2vh;
}
.AMUSubtitlesPlayer.AMUSubtitlesPlayer-fullscreen .AMUSubtitlesPlayer-controls .AMUSubtitlesPlayer-controls-seeker {
  height: 4vh;
}
.AMUSubtitlesPlayer.AMUSubtitlesPlayer-fullscreen .AMUSubtitlesPlayer-controls .AMUSubtitlesPlayer-controls-seeker .AMUSubtitlesPlayer-controls-seekerBar {
  height: 1vh;
  margin-top: 1.5vh;
}
.AMUSubtitlesPlayer.AMUSubtitlesPlayer-fullscreen .AMUSubtitlesPlayer-controls .AMUSubtitlesPlayer-controls-seeker .AMUSubtitlesPlayer-controls-seekerHandle {
  height: 2.4vh;
  top: 0.8vh;
}
.AMUSubtitlesPlayer:hover .AMUSubtitlesPlayer-controls {
  opacity: 1;
}
.AMUSubtitlesPlayer:hover .AMUSubtitlesPlayer-controls.is-idle {
  opacity: 0;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-subtitles {
  position: absolute;
  z-index: 99;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 46px;
  font-size: 20px;
  line-height: 1.45em;
  color: #ffa;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  margin: 0;
  padding: 0 2%;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls {
  position: absolute;
  z-index: 99;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  margin: 0;
  padding: 1%;
  height: 36px;
  max-height: 36px;
  overflow: hidden;
  background: #191919;
  opacity: 0;
  -webkit-transition: opacity 0.75s;
  -moz-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  transition: opacity 0.75s;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls * {
  display: inline-block;
  padding: 0;
  margin: 0 1% 0 0;
  outline: none;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls *:last-child {
  margin-right: 0;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls button {
  width: 22px;
  height: 22px;
  border: none;
  text-align: center;
  line-height: 100%;
  vertical-align: top;
  font-size: 18px;
  background-color: transparent;
  color: #aaa;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls button.AMUSubtitlesPlayer-controls-buttonPause {
  display: none;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls button.AMUSubtitlesPlayer-controls-buttonFullScreen {
  float: right;
  clear: none;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls button:hover {
  color: #fff;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls .AMUSubtitlesPlayer-controls-seeker {
  width: 100%;
  height: 22px;
  position: relative;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls .AMUSubtitlesPlayer-controls-seeker .AMUSubtitlesPlayer-controls-seekerBar {
  display: block;
  width: 100%;
  height: 8px;
  margin-top: 7px;
  background-color: #555;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  overflow: hidden;
  padding: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls .AMUSubtitlesPlayer-controls-seeker .AMUSubtitlesPlayer-controls-seekerBar:hover {
  background-color: #777;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls .AMUSubtitlesPlayer-controls-seeker .AMUSubtitlesPlayer-controls-seekerBar .AMUSubtitlesPlayer-controls-seekerProgress {
  display: inline-block;
  width: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #8A6343;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls .AMUSubtitlesPlayer-controls-seeker .AMUSubtitlesPlayer-controls-seekerHandle {
  display: inline-block;
  width: 8px;
  height: 18px;
  background-color: #aaa;
  position: absolute;
  margin-left: 0;
  top: 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  cursor: pointer;
}
.AMUSubtitlesPlayer .AMUSubtitlesPlayer-controls .AMUSubtitlesPlayer-controls-seeker .AMUSubtitlesPlayer-controls-seekerHandle:hover {
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
