/* 
    Created on : 2015-08-21, 20:07:25
    Author     : Łukasz Mitura
*/
@mixin box-sizing($value){
    -webkit-box-sizing: $value;
       -moz-box-sizing: $value;
            box-sizing: $value;
}
@mixin transition($value){
    -webkit-transition: $value;
       -moz-transition: $value;
         -o-transition: $value;
            transition: $value;
}
@mixin border-radius($value){
    -webkit-border-radius: $value;
       -moz-border-radius: $value;
            border-radius: $value;
}
@mixin displayFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
$controlContainerHeight:    36px;
$controlButtonHeight:       22px;
$controlButtonFontSize:     18px;
$controlButtonColor:        #aaa;
$controlButtonHoverColor:   #fff;
$controlSeekerHandleHeight: 18px;
$controlSeekerHandleWidth:  8px;
$controlSeekerBarHeight:    8px;
$controlSeekerBarBgColor:   #555;
$controlSeekerBarBgHover:   #777;
$controlProgressBgColor:    #8A6343;
$fullscreenBgColor:         #000;
$subtitlesColor:            #ffa;
$subtitlesFontSize:         20px;




.AMUSubtitlesPlayer {
    display: inline-block;
    width: auto;
    position: relative;
    font-family: "Arial", "Helvetica", "Tahoma", sans-serif;
    line-height: 0;
    padding: 0;
    
    &.AMUSubtitlesPlayer-fullscreen {
        position: fixed;
        background: $fullscreenBgColor;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        
        .AMUSubtitlesPlayer-video {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }
        
        .AMUSubtitlesPlayer-subtitles {
            font-size: 3vh;
            bottom: 6vh;
        }
        
        .AMUSubtitlesPlayer-controls {
            padding: 1vh;
            height: auto;
            max-height: 100%;
            
            button {
                width: 4vh;
                height: 4vh;
                font-size: 2vh
            }
            
            .AMUSubtitlesPlayer-controls-seeker {
                height: 4vh;
                
                .AMUSubtitlesPlayer-controls-seekerBar {
                    height: 1vh;
                    margin-top: 1.5vh;
                }
                
                .AMUSubtitlesPlayer-controls-seekerHandle {
                    height: 2.4vh;
                    top: 0.8vh;
                }
            }
        }
    }
    
    &:hover {
        .AMUSubtitlesPlayer-controls {
            opacity: 1;
            
            &.is-idle {
                opacity: 0;
            }
        }
    }
    
    .AMUSubtitlesPlayer-subtitles {
        position: absolute;
        z-index: 99;
        width: 100%;
        @include box-sizing(border-box);
        bottom: (10+$controlContainerHeight);
        font-size: $subtitlesFontSize;
        line-height: 1.45em;
        color: $subtitlesColor;
        text-shadow: 1px 1px 2px #000;
        text-align: center;
        margin: 0;
        padding: 0 2%;
    }
    
    .AMUSubtitlesPlayer-controls {
        position: absolute;
        z-index: 99;
        width: 100%;
        @include box-sizing(border-box);
        bottom: 0;
        margin: 0;
        padding: 1%;
        height: $controlContainerHeight;
        max-height: $controlContainerHeight;
        overflow: hidden;
        background: rgb(25,25,25);
        opacity: 0;
        @include transition(opacity 0.75s);
        @include displayFlex;
        flex-flow: row nowrap;
        
        * {
            display: inline-block;
            padding: 0;
            margin: 0 1% 0 0;
            outline: none;
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        button {
            width: $controlButtonHeight;
            height: $controlButtonHeight;
            border: none;
            text-align: center;
            line-height: 100%;
            vertical-align: top;
            font-size: $controlButtonFontSize;
            background-color: transparent;
            color: $controlButtonColor;
            @include transition(color 0.25s);
            cursor: pointer;
            
            &.AMUSubtitlesPlayer-controls-buttonPause {
                display: none;
            }
            
            &.AMUSubtitlesPlayer-controls-buttonFullScreen {
                float: right;
                clear: none;
            }
            
            &:hover {
                color: $controlButtonHoverColor;
            }
        }
        
        .AMUSubtitlesPlayer-controls-seeker {
            width: 100%;
            height: $controlButtonHeight;
            position: relative;
            
            .AMUSubtitlesPlayer-controls-seekerBar {
                display: block;
                width: 100%;
                height: $controlSeekerBarHeight;
                margin-top: (($controlButtonHeight - $controlSeekerBarHeight)/2);
                background-color: $controlSeekerBarBgColor;
                @include transition(background-color 0.25s);
                overflow: hidden;
                padding: 0;
                @include border-radius(15px);
                cursor: pointer;
                
                &:hover {
                    background-color: $controlSeekerBarBgHover;
                }
                
                .AMUSubtitlesPlayer-controls-seekerProgress {
                    display: inline-block;
                    width: 0;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    background-color: $controlProgressBgColor;
                }
            }
            
            .AMUSubtitlesPlayer-controls-seekerHandle {
                display: inline-block;
                width: $controlSeekerHandleWidth;
                height: $controlSeekerHandleHeight;
                background-color: $controlButtonColor;
                position: absolute;
                margin-left: 0;
                top: (($controlButtonHeight - $controlSeekerHandleHeight)/2);
                @include border-radius(1px);
                @include transition(background-color 0.25s);
                cursor: pointer;
                
                &:hover {
                    background-color: #fff;
                }
            }
        }
    }
}